#main-container {
    margin: 50px auto 20px auto;
    font-family: 'Roboto', san-serif;
}

.class-card {
    border-radius: 15px;
    background-color: aliceblue;
    padding: 10px;
    width: 200px;
    height: 100px;
}